<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>投稿者</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>画像</th>
  </tr>
<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.user.name %></td>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= image_tag blog.image.url,size: '100x100' %></td>
    <td><%= link_to '詳細確認', blog_path(blog.id) %></td>
    <% if current_user.id == blog.user_id %>
      <td><%= link_to '投稿編集', edit_blog_path(blog.id) %></td>
      <td><%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= link_to '新規投稿', new_blog_path %>