<h1 id='index_h'>ブログ一覧</h1>
<div class="container">
  <% @blogs.each do |blog| %>
    <div class="col-sm-4 col-md-4 ">
      <p id='index_name'><%= blog.user.name %></p>
      <p><%= blog.title %></p>
      <p><%= image_tag blog.image.url,size: '100x100' %></p>
      <%= link_to '詳細', blog_path(blog.id),class:"btn btn-default" %>
      <% if current_user.id == blog.user_id %>
        <%= link_to '編集', edit_blog_path(blog.id),class:"btn btn-default" %>
        <%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '削除してもよろしいですか？' },class:"btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
