<h3>プロフィール編集</h3>
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :profile_image %>
  <%= f.file_field :image %>
  <%= f.submit "Edit my account" %>
<% end %>
<%= link_to 'プロフィールへ戻る', user_path(@user.id) %>