<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p><%= image_tag @user.image.url, size: '200x200' %></p>
<% if @user.id == current_user.id %>
  <%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
<% end %>
<%= link_to '投稿一覧', blogs_path %>
<%= link_to '新規投稿', new_blog_path %>