<!DOCTYPE html>
<html>
  <head>
    <title>Sstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <p id='top_logo' ><%= image_tag 's.png', size: '47x47' %></p>
      <p id='top_p' >stagram</p>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <% if current_user != nil %>
        <p class="login_user" id="user_image" ><%= image_tag current_user.image.url,size: '40x40' %></p>
        <p class="login_user" ><%= current_user.name %>さんがログイン中です</p>
      <% end %>
      <% if logged_in? %>
        <ul>
        <div class='top_logs' >
          <li><%= link_to "Profile", user_path(current_user.id), class:"btn btn-primary" %></li>
          <li><%= link_to "Logout", session_path(current_user.id), method: :delete, class:"btn btn-primary" %></li>
        </div>
        <div class='top_links' >
          <li><%= link_to '投稿一覧', blogs_path, class:"btn btn-default top_link_btns " %></li>
          <li><%= link_to '新規投稿', new_blog_path, class:"btn btn-default top_link_btns" %></li>
          <li><%= link_to 'お気に入り一覧', favorites_path, class:"btn btn-default top_link_btns" %></li>
        </div>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "Sign up", new_user_path, class:"btn btn-default" %></li>
          <li><%= link_to "Login", new_session_path, class:"btn btn-default" %></li>
        </ul>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>運営会社Shimi株式会社</p>
      <p>© Shimistagram Corp.</p>
    </footer>
  </body>
</html>
